*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  /* background-color: black; */
 
}
img{
  width:250px;
  height:300px;
  object-fit: ;
  margin: auto;


  border-radius: 50%;
  background: #ffee10;
  transition: .5s;
  /* transform: scale(.9); */
 




  -webkit-box-shadow: 1px 8px 12px -4px rgba(186,186,152,1);
-moz-box-shadow: 1px 8px 12px -4px rgba(186,186,152,1);
box-shadow: 1px 8px 12px -4px rgba(186,186,152,1);
} 

img:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

img:hover {
  color: #ffee10;
  box-shadow: 0 0 5px #ffee10;
  text-shadow: 0 0 5px #ffee10;
}






/* animations between these comments  */

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 



/*       */

h2{
margin: auto;
color:rgb(206, 56, 169);
text-align: left;
margin-left: 10%;
font-family: 'Sorts Mill Goudy', serif;
text-shadow: 1px 1px 2px #000000;
}
#entrance{

  top:0;
  padding-top: 10em;
  /* position: absolute; */
  width: 100%;
  height: 150vh;
  width: 100%;
  background-image: url(/images/tvvintage.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#vanity{
  top:0;
  padding-top: 10em;
  /* position: absolute; */
  width: 100%;
  height: 150vh;
  width: 100%;
  background-image: url(/images/oldvanity.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.board{
  margin-top: 44%;
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center; 
  justify-content: center;
  margin: auto;
  padding:1em 1em 1em 1em ;
  height: 50em;
  width: 80em;
 
  perspective: 1000px;
  background-color: rgba(189, 29, 98, 0.248);

  animation: fadeIn 2s;
  border-radius: 2em;


}


 
